<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">

       <bean class="org.springframework.web.servlet.mvc.support.ControllerClassNameHandlerMapping"/>
       <context:component-scan base-package="com.myapp" />
       <mvc:annotation-driven />

       <!-- Data source-->
       <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
              <property name="driverClassName" value="com.mysql.jdbc.Driver" />
              <property name="url" value="jdbc:mysql://37.140.192.67:3306/u0072197_myapp" />
              <property name="username" value="u0072197_myapp" />
              <property name="password" value="AVIQxn8D" />
       </bean>

       <!-- Sesion factory init and set hibernate propriety's-->
       <bean id="sessionFactory" class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
              <property name="dataSource" ref="dataSource" />
              <property name="packagesToScan">
                     <list>
                            <value>com.myapp.domain</value>
                     </list>
              </property>
              <property name="hibernateProperties">
                     <props>
                            <prop key="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</prop>
                            <prop key="hibernate.show_sql">true</prop>
                     </props>
              </property>
       </bean>

       <!-- transaction manager  -->

       <bean id="transactionManager" name="transactionManager" class="org.springframework.orm.hibernate4.HibernateTransactionManager">
              <property name="sessionFactory" ref="sessionFactory" />
       </bean>

       <tx:annotation-driven transaction-manager="transactionManager" />
       <!-- Resolves views selected for rendering by @Controllers to .jsp resources
       in the /WEB-INF/views directory-->
        <!-- indicate view servlet   -->
       <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
              <property name="prefix" value="/WEB-INF/pages/"/>
              <property name="suffix" value=".jsp"/>
       </bean>

       <!-- for @@Autowired annotation-->
       <bean id="userDAO" class="com.myapp.dao.users.UserDaoImpl">

       </bean>
       <bean id="userService" class="com.myapp.service.users.UserServiceImpl"/>

</beans>